.form {
  min-width: 256px;
}

.fieldset {
  margin: 0 0 24px;
  padding: 0;
  border: 0;
}

.legend {
  float: left;

  width: 100%;
  margin: 0 0 16px;
  padding: 0;

  font-size: 28px;
  font-weight: 600;
  color: var(--legent-color);
  text-align: center;
}

.actions {
  display: flex;
  gap: 16px;
}

.input {
  &:not(:last-child) {
    margin: 0 0 16px;
  }
}

.error {
  margin: 0 0 16px;
  color: var(--error-color);
}
