.avatar {
  margin: 0 0 32px;
}

.title {
  margin: 0 0 16px;
}

.subtitle,
.info {
  margin: 0 0 24px;
}

.info {
  display: grid;
  gap: 8px 0;
}

.views,
.date {
  display: flex;
  gap: 0 8px;
  align-items: center;
  margin: 0;
}

.skeleton {
  margin: 0 0 24px;
}

.skeletonHeader {
  display: flex;
  justify-content: center;
}
