# dependencies
/node_modules

# production
/dist

# ide
.idea

# storybook
/storybook-static
*storybook.log
build-storybook.log

# chromatic
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json

# jest
/jest-html-report

# env
.env
.env.production

# swc
.swc
