.dialog {
  position: relative;
  z-index: 10;
}

.overlay,
.modal {
  position: fixed;
  inset: 0;
}

.overlay {
  background-color: rgba(0 0 0 / 60%);
}

.modal {
  overflow-y: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  padding: 16px;
}

.panel {
  padding: 16px;
  color: black;
  background-color: var(--modal-bg);
  border-radius: 5px;
}

.enter {
  transition: opacity 300ms;
}

.enterFrom {
  opacity: 0;
}

.enterTo {
  opacity: 1;
}

.leave {
  transition: opacity 300ms;
}

.leaveFrom {
  opacity: 1;
}

.leaveTo {
  opacity: 0;
}
