.navLink {
  display: flex;
  gap: 0 8px;
  align-items: center;

  padding: 9px 30px;

  font-size: var(--font-size-lg);
  color: #fdfdfd;
  text-decoration: none;

  border-radius: 5px;
}

.navLinkActive {
  background-color: var(--nav-link-active-bg);
}

.navLinkCreate {
  align-self: center;

  margin: auto 0 0;
  padding: 8px 26px;

  font-size: 12px;
  font-weight: 600;
  color: var(--create-article-color);

  background-color: #fdfdfd;

  &:hover {
    color: var(--create-article-color-hover);
  }

  &:active,
  &:focus-visible {
    color: var(--create-article-color-active);
  }
}

.label {
  white-space: nowrap;
}
