.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.link {
  display: inline-flex;

  padding: 4px 29px;

  font-size: 14px;
  color: var(--category-btn-color);
  text-decoration: none;
  vertical-align: top;

  background-color: var(--category-btn-bg);
  border: 1px solid var(--category-btn-bd-color);
  border-radius: 5px;
}

.activeLink {
  color: var(--category-btn-color-active);
  background-color: var(--category-btn-bg-active);
  border-color: var(--category-btn-bd-color-active);
}
