.block {
  position: relative;

  margin: 0 0 24px;
  padding: 16px;

  color: var(--code-color);

  background-color: var(--code-bg);
  border-radius: 5px;

  pre {
    overflow: auto;
    margin: 0;
  }
}

.btnCopy {
  position: absolute;
  top: 8px;
  right: 8px;
}
