.field {
  display: block;
}

.select {
  cursor: pointer;

  display: block;

  width: 100%;
  padding: 10px;

  appearance: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;

  &:disabled {
    cursor: not-allowed;
  }
}

.label {
  display: inline-flex;
  margin: 0 0 8px;
}
