.dark {
  --body-bg: #252525;
  --aside-bg: #365b61;
  --primary-color: #fff;
  --secondary-color: #b0bec5;
  --interactive-color: #fff;
  --error-color: #bf0000;
  --button-color: #252525;
  --button-bg: #fdfdfd;
  --button-bg-hover: #fdfdfd;
  --button-bg-active: #fdfdfd;
  --button-outlined-bg: #252525;
  --button-outlined-bg-hover: #363636;
  --button-outlined-bg-active: #191919;
  --button-outlined-color: #fdfdfd;
  --button-outlined-color-hover: #fdfdfd;
  --button-outlined-color-active: #fdfdfd;
  --button-bd-color: #fdfdfd;
  --button-bd-color-hover: #fdfdfd;
  --button-bd-color-active: #fdfdfd;
  --nav-link-active-bg: #183a40;
  --dropdown-bg: #454545;
  --dropdown-item-color: #fdfdfd;
  --create-article-color: #24484e;
  --create-article-color-hover: #356e78;
  --create-article-color-active: #24484e;
  --label-color: #fdfdfdb3;
  --input-color: #fdfdfd;
  --input-bg: #454545;
  --input-bg-active: #606060;
  --view-btns-bg: #252525;
  --view-btns-bd-color: #454545;
  --view-btn-color: #c6c6c6;
  --view-btn-color-active: #fdfdfd;
  --category-btn-color: #fdfdfdcc;
  --category-btn-color-active: #fdfdfd;
  --category-btn-bg: #252525;
  --category-btn-bg-active: #24484e;
  --category-btn-bd-color: #fdfdfd;
  --category-btn-bd-color-active: #24484e;
  --acticle-card-bg: #454545;
  --acticle-type-color: #929292;
  --acticle-title-color: #fdfdfd;
  --comment-bg: #454545;
  --code-color: #fdfdfd;
  --code-bg: #454545;
  --modal-bg: #252525;
  --legent-color: #fdfdfd;
  --skeleton-bg: #545454;

  color-scheme: dark;
}
