.light {
  --body-bg: #fdfdfd;
  --aside-bg: #365b61;
  --primary-color: #222;
  --secondary-color: #90a4ae;
  --interactive-color: #0071bc;
  --error-color: #bf0000;
  --button-color: #fdfdfd;
  --button-bg: #365b61;
  --button-bg-hover: #40808a;
  --button-bg-active: #183a40;
  --button-outlined-bg: #fdfdfd;
  --button-outlined-bg-hover: #fdfdfd;
  --button-outlined-bg-active: #fdfdfd;
  --button-outlined-color: #365b61;
  --button-outlined-color-hover: #40808a;
  --button-outlined-color-active: #183a40;
  --button-bd-color: #365b61;
  --button-bd-color-hover: #40808a;
  --button-bd-color-active: #183a40;
  --nav-link-active-bg: #24484e;
  --dropdown-bg: #f3f1f1;
  --dropdown-item-color: #191919;
  --create-article-color: #365b61;
  --create-article-color-hover: #40808a;
  --create-article-color-active: #2a4e54;
  --label-color: #717171;
  --input-color: #191919;
  --input-bg: #f3f1f1;
  --input-bg-active: #fdfdfd;
  --view-btns-bg: #fdfdfd;
  --view-btns-bd-color: #f3f1f1;
  --view-btn-color: #717171;
  --view-btn-color-active: #191919;
  --category-btn-color: #717171cc;
  --category-btn-color-active: #fdfdfd;
  --category-btn-bg: #fdfdfd;
  --category-btn-bg-active: #365b61;
  --category-btn-bd-color: #717171;
  --category-btn-bd-color-active: #365b61;
  --acticle-card-bg: #f3f1f1;
  --acticle-type-color: #365b61;
  --acticle-title-color: #191919;
  --comment-bg: #f3f1f1;
  --code-color: #191919;
  --code-bg: #f3f1f1;
  --modal-bg: #fdfdfd;
  --legent-color: #365b61;
  --skeleton-bg: #0000001c;
  --notification-label-bg: #f15a3b;
  --notification-bg: #f3f1f1;
  --notification-color: #191919;

  color-scheme: light;
}
