.commentItem {
  padding: 10px;
  background-color: var(--comment-bg);
  border-radius: 5px;
}

.user {
  position: relative;
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.link {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
  }
}
