.commentItem {
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.user {
  position: relative;
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.link {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
  }
}
