.articlesView {
  display: flex;

  width: fit-content;

  background-color: var(--view-btns-bg);
  border: 1px solid var(--view-btns-bd-color);
  border-radius: 5px;
}

.viewBtn {
  padding: 9px 12px;
  color: var(--view-btn-color);
}

.viewBtnActive {
  color: var(--view-btn-color-active);
  background-color: var(--view-btns-bd-color);
}
