.field {
  display: block;
}

.label {
  display: inline-flex;

  margin: 0 0 4px;

  font-size: 12px;
  color: var(--label-color);
  vertical-align: top;
}

.inputWrapper {
  position: relative;
  display: block;
}

.icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);

  color: #717171;
}

.input {
  display: block;

  width: 100%;
  padding: 12px 8px 12px 30px;

  font-size: 14px;
  color: var(--input-color);

  appearance: none;
  background-color: var(--input-bg);
  border: 0;
  border-radius: 5px;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    appearance: none;
  }

  &:focus-visible {
    background-color: var(--input-bg-active);

    & ~ .icon {
      color: var(--input-color);
    }
  }

  &:read-only {
    cursor: not-allowed;
  }

  &:not(:placeholder-shown) {
    & ~ .icon {
      color: var(--input-color);
    }
  }
}
