.appLink,
.appLinkButton {
  display: inline-flex;
  gap: 8px;
  align-items: center;

  padding: 5px;

  vertical-align: top;

  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.appLink {
  color: var(--interactive-color);
}

.underlineNone {
  text-decoration: none;
}

.underlineHover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.appLinkButton {
  color: inherit;
  text-decoration: none;

  background-color: transparent;
  border: 0;
  border-radius: 5px;

  &:hover,
  &:focus-visible {
    background-color: var(--secondary-color);
  }
}

.contained {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.outlined {
  border: 1px solid var(--primary-color);
}
